.overlay_container {
  position: absolute;
  display: flex;
}

.overlay_container img {
  width: 85%;
  height: 100%;
  margin: 20px;
}
.overlay_innerContainer {
  color: #b1c1f0;
  width: 35%;
  padding: 10% 5%;
}
.overlay_innerContainer h1 {
  font-size: 5rem;
  font-family: "final_fantasy_viiregular", Verdana, sans-serif;
  line-height: 0.7em;
}
.overlay_innerContainer p {
  margin-top: 30px;
  font-family: "final_fantasy_viiregular", Verdana, sans-serif;
  font-size: 2.5em;
  line-height: 0.7em;
}
.overlay_button_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px; /* Adjust to move buttons further down */
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 3s; /* Adjust the delay as needed */
  z-index: 20; /* Ensure this is higher than other elements */
}
.overlay_button_container_inner {
  position: absolute;
  z-index: 1;
  pointer-events: all;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.overlay_button_container button {
  background-color: #18254e;
  color: #fff;
  padding: 20px 40px;
  font-size: 24px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}
.overlay_button_container button:hover {
  box-shadow: 0 0 30px rgba(136, 162, 218, 0.7); /* Change glow intensity on hover */
  -webkit-box-shadow: 0 0 30px rgba(136, 162, 218, 0.7); /* WebKit prefix for box-shadow property */
}

.overlay_button_row button {
  font-size: 24px;
  padding: 10px 35px;
}

.overlay_button_icon_row button {
  font-size: 34px;
  padding: 10px 15px;
  margin-right: 4px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .overlay_innerContainer {
    width: fit-content;
  }
  .overlay_innerContainer h1 {
    font-size: 2.7rem;
  }
  .overlay_button_container {
    width: 100%;
    position: absolute;
    bottom: 0%;
  }
  .overlay_button_container_inner {
    gap: 10px;
  }
  .overlay_innerContainer p {
    font-size: 1rem;
    margin-top: 10px;
  }
}

.overlay_button_row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.button {
  padding: 10px 20px;
  background-color: #234fad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.button:hover {
  background-color: #1a3a75;
}
