@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav {
  background-color: none
}

.text.hidden {
  display: none;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures the container takes the full viewport height */
}

.scrollable_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 80px; /* Adjust as needed to ensure the footer doesn't overlap */
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the canvas is behind the content */
}

.main_container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #080b16, #0b2542);
}


.main_container_mobile {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #080b16, #0b2542);
  font-family: "Inter", sans-serif;
}

.bg_primary {
  background: linear-gradient(to right, #080b16, #0b2542);
  font-family: "Inter", sans-serif;
}

.fade-in-text {
  opacity: 0;
  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Default styles (non-mobile) */
.centered-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Mobile styles */
@media (max-width: 767px) {
  .centered-text {
    position: static; /* Reset the position */
    left: auto;       /* Reset the left property */
    transform: none;  /* Reset the transform */
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
  height: 8px; /* Adjust the height as needed */
}

::-webkit-scrollbar-track {
  background: #080b16; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #0b2542; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #080b16; /* Border around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #0b2542; /* Thumb hover color */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0b2542 #080b16;
}

/* Custom CSS for the audio player */
.custom-audio-player {
  border-radius: 15px; /* Adjust the radius as needed */
  overflow: hidden;    /* Ensure that child elements do not overflow the rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
  background-color: #0b2542; /* Light background color for better contrast */
  padding: 10px; /* Add some padding for better spacing */
  width: 600px; /* Set the fixed width */
  margin: 0 auto; /* Center the player horizontally */
}

/* Audio player container */
.rhap_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-family: 'Inter', sans-serif;
  width: 100%;
  padding: 10px 15px;
  background-color: #0b2542;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.rhap_container:focus:not(:focus-visible) {
  outline: 0;
}

.rhap_container svg {
  vertical-align: initial; /* overwrite Bootstrap default */
}

.rhap_header {
  margin-bottom: 10px;
}

.rhap_footer {
  margin-top: 5px;
}

.rhap_main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.rhap_stacked .rhap_controls-section {
  margin-top: 8px;
}

.rhap_horizontal {
  flex-direction: row;
}

.rhap_horizontal .rhap_controls-section {
  margin-left: 8px;
}

.rhap_horizontal-reverse {
  flex-direction: row-reverse;
}

.rhap_horizontal-reverse .rhap_controls-section {
  margin-right: 8px;
}

.rhap_stacked-reverse {
  flex-direction: column-reverse;
}

.rhap_stacked-reverse .rhap_controls-section {
  margin-bottom: 8px;
}

.rhap_progress-section {
  display: flex;
  flex: 3 1 auto;
  align-items: center;
}

.rhap_progress-container {
  display: flex;
  align-items: center;
  height: 20px;
  flex: 1 0 auto;
  align-self: center;
  margin: 0 calc(10px + 1%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.rhap_progress-container:focus:not(:focus-visible) {
  outline: 0;
}

.rhap_time {
  color: #ffffff;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
}

.rhap_progress-bar {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 5px;
  background-color: #555;
  border-radius: 2px;
}

.rhap_progress-filled {
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 2px;
}

.rhap_progress-bar-show-download {
  background-color: rgba(#555, 0.5);
}

.rhap_download-progress {
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: #555;
  border-radius: 2px;
}

.rhap_progress-indicator {
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  top: -8px;
  background: #ffffff;
  border-radius: 50px;
  box-shadow: rgba(#ffffff, 0.5) 0 0 5px;
}

.rhap_controls-section {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

.rhap_additional-controls {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}

.rhap_repeat-button {
  font-size: 26px;
  width: 26px;
  height: 26px;
  color: #ffffff;
  margin-right: 6px;
}

.rhap_main-controls {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rhap_main-controls-button {
  margin: 0 3px;
  color: #ffffff;
  font-size: 35px;
  width: 35px;
  height: 35px;
}

.rhap_play-pause-button {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.rhap_volume-controls {
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
  align-items: center;
}

.rhap_volume-button {
  flex: 0 0 26px;
  font-size: 26px;
  width: 26px;
  height: 26px;
  color: #ffffff;
  margin-right: 6px;
}

.rhap_volume-container {
  display: flex;
  align-items: center;
  flex: 0 1 100px;
  user-select: none;
  -webkit-user-select: none;
}

.rhap_volume-bar-area {
  display: flex;
  align-items: center;
  width: 100%;
  height: 14px;
  cursor: pointer;
}

.rhap_volume-bar-area:focus:not(:focus-visible) {
  outline: 0;
}

.rhap_volume-bar {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 4px;
  background: #555;
  border-radius: 2px;
}

.rhap_volume-indicator {
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  left: 0;
  top: -4px;
  background: #ffffff;
  opacity: 0.9;
  border-radius: 50px;
  box-shadow: rgba(#ffffff, 0.5) 0 0 3px;
  cursor: pointer;
}

.rhap_volume-indicator:hover {
  opacity: 0.9;
}

.rhap_volume-filled {
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 2px;
}

/* Utils */
.rhap_button-clear {
  background-color: transparent;
  border: none;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}

.rhap_button-clear:hover {
  opacity: 0.9;
  transition-duration: 0.2s;
}

.rhap_button-clear:active {
  opacity: 0.95;
}

.rhap_button-clear:focus:not(:focus-visible) {
  outline: 0;
}
