@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav {
  background-color: none
}

.text.hidden {
  display: none;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures the container takes the full viewport height */
}

.main_container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #080b16, #0b2542);
}

.main_container_mobile {
  position: relative;
  width: 100%;
  height: 140vh;
  background: linear-gradient(to right, #080b16, #0b2542);
  font-family: "Inter", sans-serif;
}

.bg_primary {
  background: linear-gradient(to right, #080b16, #0b2542);
  font-family: "Inter", sans-serif;
}

/* Custom CSS for the audio player */
.custom-audio-player {
  border-radius: 15px; /* Adjust the radius as needed */
  overflow: hidden;    /* Ensure that child elements do not overflow the rounded corners */
}

/* Targeting the audio player wrapper */
.rhap_container {
  border-radius: 15px; /* Adjust the radius as needed */
  overflow: hidden;    /* Ensure that child elements do not overflow the rounded corners */
}

/* Default styles (non-mobile) */
.centered-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Mobile styles */
@media (max-width: 767px) {
  .centered-text {
    position: static; /* Reset the position */
    left: auto;       /* Reset the left property */
    transform: none;  /* Reset the transform */
  }
}
